<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
        <div>
            <a href="https://slobodnadalmacija.hr/">sljaka - klikni me</a>
        </div>
    </div>
</body>
</html>
