html, body {
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        overflow: hidden;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.w-20 {
    width: 20% !important;
}

.card-hover-effect {
    transition: transform 0.2s ease-in-out;
}

    .card-hover-effect:hover {
        transform: scale(0.97);
    }

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

main {
    flex: 1;
    overflow-y: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 1rem;
}
